<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="dashboard/header :: header"></head>
<body class="gray-bg">

<!--
@desc 学生 管理
@author 张三
@since 2019-10-07 22:12:48
-->

	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<div class="select-list">
						<ul>
		<li><label> 学生姓名 </label><input type="text" name="condition[studentName|like]"/></li>
						<li><label> 学号 </label><input type="text" name="condition[studentNumber|like]"/></li>
						<li class="select-time"><label> 生日 </label>
							<input type="text" class="time-input" placeholder="开始时间" name="condition[studentBirthday|like]" lay-key="1">
							<span>-</span>
							<input type="text" class="time-input" placeholder="结束时间" name="condition[studentBirthday|like]" lay-key="2">
						</li>
						<li><label> 学生住址 </label><input type="text" name="condition[studentAddress|like]"/></li>
						<li><label> 民族 </label><input type="text" name="condition[studentNatice|like]"/></li>
						<li><label> 学生电话 </label><input type="text" name="condition[studentPhone|like]"/></li>
						<li><label> 学生头像 </label><input type="text" name="condition[studentAvotor|like]"/></li>
						<li>
							<a class="btn btn-success btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <a class="btn btn-danger" onclick="$.operate.clean()">
	                <i class="fa fa-trash"></i> 清空
	            </a>
	            <a class="btn btn-warning" onclick="$.table.exportExcel()">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>

	<footer th:replace="dashboard/footer :: footer"></footer>

	<script>
		var prefix = ctx + "alinesno/demo/student/student/" ;

		$(function() {
		    var options = {
		        url: prefix +"datatables" ,
		        createUrl: prefix + 'add' ,
		        updateUrl: prefix +"modify?id={id}" ,
		        changeStatusUrl: prefix +"changeStatus?id={id}" ,
		        cleanUrl: prefix + "clean",
		        detailUrl: prefix +"detail?id={id}",
		        removeUrl: prefix + "delete" ,
		        exportUrl: prefix + "export",
		        sortName: "operTime",
		        uniqueId:"id" ,
		        sortOrder: "desc",
                modalName: "学生",
		        escape: true,
		        showPageGo: true,
		        rememberSelected: true,
		        columns: [{field: 'state',checkbox: true },

		{field: 'studentName', title: '学生姓名'},
					{field: 'studentNumber', title: '学号'},
					{field: 'studentBirthday', title: '生日'},
					{field: 'studentAddress', title: '学生住址'},
					{field: 'studentNatice', title: '民族'},
					{field: 'studentPhone', title: '学生电话'},
					{field: 'studentAvotor', title: '学生头像'},
					    {field: 'hasStatusLabel', title: '状态', align: 'center',  formatter:function(value,row,index){ return $.table.status(value , row);}},
			        {field: 'addTime', title: '添加时间', align:'center' , width:'150px', sortable: true},
			        {field: 'id' , title: '操作', align: 'center', width:'200px', formatter: function(value, row, index) {
			                var actions = [];

			                actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-edit"></i>详情</a> ');
			                actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
			                actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');

			                return actions.join('');
			          }
			     }]
		    };
		    $.table.init(options);
		});

	</script>
</body>
</html>

